<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">

</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <%-include("./partials/header.ejs")%>
    <!-- ##### Right Side Cart Area ##### -->
    <%-include("./partials/side-cart.ejs")%>

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Resumen</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">

                    <div class="checkout_details_area mt-50 clearfix">

                        <% if (summary.method = "transfer") { %>
                        <h3>¡Gracias! Tu pedido ha sido recibido.</h3>
                        <p><span class="text-uppercase">importante:</span> Adjuntanos el comprobante de la transferencia a <span class="font-weight-bold">info@elbosque.com</span> o a nuestro WhatsApp <span class="font-weight-bold">+5491155115511</span> para que confirmemos tu pedido.</p>
                        <div class="card-body bg-light">
                            <p>Datos bancarios:<br>CBU: 0170016940000006891567<br>Alias: Pipasteleria<br>Banco: BBVA<br>MP ALIAS: Pipasteleria.mp<br>MP CVU: 0000003100021369072550</p>
                        </div>
                        <a href="/" class="btn essence-btn">ir al inicio</a>
                        <% } %>

                    </div>                    
                    
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">

                    <div class="order-details-confirmation">
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%-include("./partials/footer.ejs")%>    

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <!-- Search js -->
    <script src="/js/search.js"></script>

</body>

</html>