    <!-- ##### New Arrivals Area Start ##### -->
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Popular Products</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">

                        <% if (Products && Products.length) { %>

                            <% Products.forEach(product => { %>

                            <!-- Single Product -->
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <% if (product.Product_image && product.Product_image.length > 0) { %>
                                        <img src="img/product-img/<%= product.Product_image[0].url %>" alt="">
                                    <% } else { %>
                                        <img src="img/product-img/default.jpg" alt="">
                                    <% } %>                                    
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span><%= product.Category.name %></span>
                                    <a href="single-product-details.html">
                                        <h6><%= product.name %></h6>
                                    </a>
                                    <p class="product-price">$<%= product.price %></p>
                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn">Ver mas</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% }) %>

                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### New Arrivals Area End ##### -->