    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="#">Pasteleria</a>
                                <ul class="dropdown">

                                    <li><a href="/products/shop/">Ver todo</a></li>

                                    <% if (Categories) { %>

                                        <% Categories.forEach(category => { %>
                                            <li><a href="/products/shop/?category=<%=category.id%>"><%=category.name%></a></li>
                                        <% }) %>

                                    <% } else { %>

                                        <!-- include error.ejs  -->

                                    <% } %>                           

                                </ul>
                            </li>
                            <li><a href="#">Contacto</a>
                                <ul class="dropdown">
                                    <li><a href="/products/shop/">Tu pedido</a></li>
                                    <li><a href="/products/shop/">Consultas</a></li>
                                </ul>
                            </li>                          
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">

                <!-- Search Area -->
                <div class="search-area">
                    <form id="searchForm" method="get">
                        <input type="search" name="search" id="headerSearch" placeholder="¿Qué buscas?" required>
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>

                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="#" id="essenceCartBtn"><img src="/img/core-img/bag.svg" alt=""><span><%= cart ? cart.item.length : 0 %></span></a>
                </div>

            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->